<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mousewheel-min.js"></script>
    <script src="js/jquery.terminal-min.js"></script>
    <script src="js/yaml.js"></script>
    <link  href="theme/jquery.terminal.css" rel="stylesheet">
  </head>
  <body class="terminal">
    Tarantool version <span id='version'>1.10.0</span><br>
    Try command 'help' to get help.
    <script>
      jQuery(document).ready(function($){
        $.get("/lts/tarantool?command=box.info.version",{},
          function(data) {
            if (data.charAt(0) == 'S')
              alert(data);
            var YAML = window.YAML;
            data = YAML.parse(data);
            $('#version').text(data);
          });
        $('body').terminal(
          function(command, term) {
            if (command) {
              command = "/lts/tarantool?command=" + encodeURI(command)
              $.get(command,
                function(data) {
                  console.log(data);
                  term.resume().echo(data);
                }, 'text');
              term.pause();
            }
        }, {
             greetings: "=======================================",
             height: 200,
             prompt: 'tarantool> '
        });
      });
    </script>
  </body>
</html>
