<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Tarantool try-terminal</title>
    <meta name="Description" content="Tarantool try-terminal">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="./js/jquery.mousewheel-min.js"></script>
    <script src="./js/jquery.terminal-min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

         ga('create', 'UA-22120502-1', 'auto');
         ga('send', 'pageview');
    </script>
    <link href="./css/jquery.terminal.css" rel="stylesheet">
  </head>
<body class="terminal">
<h>Tarantool version 1.6</h><br>
<h>Try command 'help' to get help.</h>
<script>
jQuery(document).ready(function($){
    $.get("/tarantool?command=",{},function(data) { if (data.charAt(0) == 'S') alert(data); });
    $('body').terminal(
        function(command, term) {
            if (command) {
                command = "/tarantool?command=" + encodeURI(command)
                $.get(command, function(data) {
                                   console.log(data);
                                   term.resume().echo(data);
                               }, 'text');
                term.pause();
            }
        }, {
            greetings: "=======================================",
            height: 200,
            prompt: 'tarantool> '
        });
});

</script>

</body></html>
