{% extends "base" %}

{% block header_scripts %}
<meta name="Description" content="Tarantool try-terminal">
<link  href="theme/jquery.terminal.css"  rel="stylesheet">
<script src="js/jquery.mousewheel-min.js"       ></script>
<script src="js/jquery.terminal-min.js"         ></script>
<script src="http://yamltojson.com/js/yaml.js"  ></script>
{% endblock header_scripts %}

{% block content %}
<section class="b-lightgray_block b-try_terminal terminal">
      Tarantool version <span id='version'>_</span><br>
      Try command 'help' to get help.
      <script>
        jQuery(document).ready(function($){
          $.get("/tarantool?command=box.info.version",{},
            function(data) {
              if (data.charAt(0) == 'S')
                alert(data);
              $('#version').text(window.YAML.parse(data));
            });
          $('.terminal').terminal(
            function(command, term) {
              if (command) {
                command = "/tarantool?command=" + encodeURI(command)
                $.get(command, function(data) {
                    console.log(data);
                    term.resume().echo(data);
                  }, 'text');
                term.pause();
              }
          }, {
              greetings: "=======================================",
              height: $(document).height() - 150,
              prompt: 'tarantool> '
          });
          $(window).resize(function() {
              $('.terminal').height($(document).height() - 150);
          });
        });

      </script>

    </section>
{% endblock content %}

{# vim: syntax=htmldjango ts=2 sts=2 sw=2 expandtab #}
